<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.png" type="image/ico" />
  <title>Student's Statistics</title>
  <%- include('layout/main/style.ejs')%>
  <link rel="stylesheet" href="/build/css/filter.css">
  <!--tooltipster-->
  <link rel="stylesheet" type="text/css" href="/vendors/tooltipster/dist/css/tooltipster.bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="/vendors/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" />
  <link rel="stylesheet" href="/build/css/tooltipster.css">
  <!--animation-->
	<!--<link rel="stylesheet" href="/vendors/animated-transition-effects/css/reset.css">--> <!-- CSS reset -->
  <link rel="stylesheet" href="/vendors/animated-transition-effects/css/style.css"> <!-- Resource style --> 
  <style>
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
      font-weight:bold;        
      color:#437a9f !important;
    }
    #student-infor>ul>li{
      font-size:18px;
      font-weight:bold;
    }#student-infor>ul{
      list-style-type: none;
    }.success{
      color:#0adb00;
    }.warning{
      color:#dbab00;
    }.danger{
      color:#db0000;
    }.absent{
      color:#db0000;
    }.attend{
      color:#0adb00;
    }#chart_box {
      width: 900px;
      margin-right:auto;
      margin-left:auto;
    }.qa-clearfix{
      clear:both;
    }
  </style>	
</head>

<body class="nav-md extinguisher-transition">
  <%- include('layout/search/modal.ejs')%>
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->

        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->

          <!-- page content -->
          <div class="right_col" role="main">
            <!--Breadcrumb-->
            <ul class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a>Student's Statistics</li>
            </ul>
            <!--/Breadcrumb-->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title" style="min-height:725px;">
                  <!--TestSearch-->
                  <h1>Search and Filter</h1>
                  <% let stlist = studentlist%>
                  <section class="list-wrap">
                    <label for="search-text">Search student from list</label>
                    <input type="text" id="search-text" placeholder="search" class="search-box">
                    <span class="list-count"></span>
                    <ul id="list">
                        <% for(s in stlist){%>
                            <li class="qa-in tooltipster" sid="<%= stlist[s].student_id%>" data-tooltip-content="#tooltip_content"><%= stlist[s].fullname%></li>     
                            
                        <%}%>
                        <span class="empty-item">NO RESULTS</span>
                    </ul>
                  </section>       
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="qa-clearfix"></div>
            <!-- /page content -->
          </div>

          <!-- footer content -->
          <%- include('layout/main/footer.ejs')%>
            <!-- /footer content -->
    </div>
  </div>

  
</body>
  <%- include('layout/main/script.ejs')%>
  <!-- Modal Animation-->
  <script src="/vendors/animated-transition-effects/js/modernizr.js"></script>
  <script src="/vendors/animated-transition-effects/js/main.js"></script> <!-- Resource jQuery -->
  <!--filter-->
  <script src="build/js/filter.js"></script>
  <!--tooltipster-->
  <script type="text/javascript" src="/vendors/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
  <!--Chart-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    $(document).ready(function() {
      $('.tooltipster').each(function(){
        $(this).tooltipster({
          animation: 'grow',
          content:$('<span>Click to view statistic</span>'),
          delay: 100,
          speed: 300,
          theme: 'tooltipster-shadow',
          maxWidth: 500,
          position: 'right', 
          interactive: true,
          onlyOne:true,
          functionReady: function(instance, helper) {
            var $origin = $(helper.origin),
            dataOptions = $origin.attr('sid');
            console.log(dataOptions);
            $('.tooltipster-content').on('click',function(){
                // alert(dataOptions);
                $('.cd-modal-trigger').trigger('click');
                getStudentInforAjax(dataOptions);
            });
        }
        });
      });
      let att;
      let course_id;
      let fullname;
      function getStudentInforAjax(studentID){
          $.ajax({ 
            type:'POST',
            data:{student_id:studentID},
            url:'/action/get-student-infor',
            dataType:'json'
          }).done(function(response){
              console.log(response.data);
              let data = response.data;
              att=data.statistics;
              fullname = data.fullname;
              $('#student-infor>ul>li:nth-child(1)').html('Name: '+fullname);
              let date = new Date(data.birthday);
              let day = date.getDate();
              let month =date.getMonth()+1;
              let year = date.getFullYear();
              $('#student-infor>ul>li:nth-child(2)').html('Birthday: '+day+'/'+month+'/'+year);
              course_id = data.course_id;
              let a ='Courses: <ul>';
              for(i=0;i<course_id.length;i++){
                 a+='<li>'+data.class[i]+'-'+course_id[i]+'</li>'
              }
              a+='</ul>'
              $('#student-infor>ul>li:nth-child(3)').html(a);
              $('.nav-tabs').empty();
              for(i=0;i<course_id.length;i++){
                if(i==0){
                   $('.nav-tabs').append('<li class="active qa-nav-item" pos="'+i+'"><a data-toggle="pill" href="#class-'+course_id[i]+'">'+data.class[i]+'</a></li>');      
                }else{
                   $('.nav-tabs').append('<li pos="'+i+'" class="qa-nav-item"><a data-toggle="pill" href="#class-'+course_id[i]+'">'+data.class[i]+'</a></li>');           
                }
              };
              $('.tab-content').empty();
              for(i=0;i<course_id.length;i++){
                let a = i;
                if(i==0){
                  $('.tab-content').append('<div id="class-'+course_id[i]+'" class="tab-pane fade in active"></div>');
                }else{
                  $('.tab-content').append('<div id="class-'+course_id[i]+'" class="tab-pane fade"></div>');               
                }
              }
              for(i=0;i<course_id.length;i++){
                $('#class-'+course_id[i]).append('<table class="table table-striped table-bordered nowrap"></table><div id="chart_box"><div class="piechart_3d chart-'+course_id[i]+'"></div></div>');
              }
              for(i=0;i<course_id.length;i++){
                $('#class-'+course_id[i]+'>table').append('<thead></thead>')
                $('#class-'+course_id[i]+'>table').append('<tbody></tbody>')
                //thead
                a ='<tr><th>ID</th><th>FullName</th><th>Birthday</th><th>Attendence</th>';
                let sessionlist = data.sessionlist[i];
                let attendancelist = data.attendancelist[i];
                for(j=0;j<sessionlist.length;j++){
                    let date = new Date(sessionlist[j].session_date);
                    let day = date.getDate();
                    let month = date.getMonth()+1;
                    let year = date.getFullYear();
                    let hour = date.getHours();
                    let minutes = date.getMinutes();
                    let amPM = (hour > 11) ? "PM" : "AM";
                    if(hour > 12) {
                      hour -= 12;
                    } else if(hour == 0) {
                      hour = "12";
                    }
                    if(minutes < 10) {
                        minutes = "0" + minutes;
                    }
                    let time = hour+':'+minutes+' '+amPM;
                    a+='<th style="min-width:100px;">'+sessionlist[j].session_no+'<div style="font-size:10px">'+day+'/'+month+'/'+year+' '+time+'</div></th>';
                }
                a+='</tr>'
                $('#class-'+course_id[i]+'>table>thead').append(a)
                //tbody
                let countAtttend = 0;
                let attended = 0;
                for(j=0;j<attendancelist.length;j++){
                  if(attendancelist[j].status==1){
                    countAtttend++;
                  }
                  if(attendancelist[j].status==1||attendancelist[j].status==2){
                    attended++;
                  }
                }
                if(attended==0){
                    attended=1;
                }
                let percentAttend = Math.round((countAtttend/attended)*100)
                let status ='success';
                if(percentAttend<70&&percentAttend>=40){
                  status ='warning';
                }else if(percentAttend<40){
                  status='danger';
                }
                a='<tr><td>'+data.student_id+'</td><td>'+data.fullname+'</td><td>'+day+'/'+month+'/'+year+'</td><td class="'+status+'"><center>'+percentAttend+'%</center></td>';
                for(j=0;j<attendancelist.length;j++){
                    if(attendancelist[j].status==1){
                      a+='<td class="attend"><center><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></center></td>';
                    }else if(attendancelist[j].status==2){
                      a+='<td class="absent"><center><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></center></td>';
                    }else if(attendancelist[j].status==0){
                      a+='<td class=""></td>';
                    }
                }
                a+='</tr>'
                $('#class-'+course_id[i]+'>table>tbody').append(a) 
              }
              // for(i=0;i<course_id.length;i++){
              //   // console.log(statistics);
              //   console.log(course_id[i]);
              //   let statistics = data.statistics[i];
                
              // }
             
              let statistics = data.statistics;
              google.charts.load('current', {
                      callback: function () {
                        for(i=0;i<course_id.length;i++){
                         
                          var data = google.visualization.arrayToDataTable([
                            ['Status', 'Quantity'],
                            ['Not Attend',statistics[i].notattend],
                            ['Attend', statistics[i].attend],
                            ['Absent', statistics[i].absent]
                          ]);
                          var options = {
                            title:fullname+'\'s attancedance statistics in '+course_id[i],
                            width:1000,
                            height:1000,
                            is3D: true,
                            chartArea: {width: 800, height: 800},
                          };               
                          let chartname='.chart-'+course_id[i];           
                          var container = $(chartname)[0];
                          var chart = new google.visualization.PieChart(container);
                          chart.draw(data, options);
                        }  
                      },
                      packages: ['corechart']
                    });
                          
          });
      };
    });
  </script>
  
</html>