﻿<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.png" type="/image/ico" />

  <title>Home</title>
  <%- include('layout/main/style.ejs')%>
  <link href="/build/css/index.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->

        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->

          <!-- page content -->
          <%
           let list = listCourse;
          %>
            <div class="right_col" role="main">
              <div class="x_panel">
                <div class="x_title">
                  <table class="table table-hover table-striped table-sm">
                    <caption>List of courses</caption>
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Course</th>
                        <th scope="col">Attendence</th>
                        <th scope="col">Update</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%
                  for(let i=0;i<list.length;i++){
                    let slug = list[i].name.toLowerCase().replace(' ','-');
                    let href = '/studentlist/'+list[i].id+'-'+slug+'.vlu';
                    //let href = '/studentlist/software-the-project-HC1.vlu';
                  %>
                        <tr>
                          <td scope="row"><%= i+1%></td>
                          <td><%= list[i].name+" "+list[i].info %></td>
                          <td>
                            <!--<a href=<%='/studentlist?course_id=' +list[i].id%> data-toggle="tooltip" data-placement="right" title="Click here to view studentlist">
                              <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:#263f68"></span>
                            </a>-->
                            <a href=<%=href%> data-toggle="tooltip" data-placement="right" title="Click here to view <%= list[i].id%> studentlist">
                              <i class="fa fa-calendar fa-lg qa-studentlist" aria-hidden="true"></i>
                            </a>
                          </td>
                          <td>
                            <span course_id=<%= list[i].id%> course_name='<%= list[i].name%>' class="qa-student-update" data-toggle="tooltip" data-placement="right" title="Click here to update <%= list[i].id%> studentlist from server">
                              <i class="fa fa-refresh fa-lg qa-update" aria-hidden="true"></i>
                            <span>
                          </td>
                        </tr>
                        <%}%>
                    </tbody>
                  </table>
                </div>
              </div>
              <%- include('layout/index/alertbox.ejs')%>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <%- include('layout/main/footer.ejs')%>
            <!-- /footer content -->
    </div>
  </div>

  <%- include('layout/main/script.ejs')%>
  <script src="/build/js/updateStudentFromAPI.js"></script>
</body>

</html>