<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.png" type="image/ico" />

  <title>VLU Attendence Tracking | Login </title>

  <!-- Bootstrap -->
  <link href="./vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="./vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="./vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="./vendors/animate.css/animate.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="./build/css/custom.min.css" rel="stylesheet">

  <style>
    .qahide {
      display: none;
    }
  </style>
</head>

<body class="login">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <div>
            <img src="images/logo.png" width="240px" style="margin-bottom: 18px" alt="School logo">
            <h1 style="font-family: Corbel; font-weight: bold; font-size: 30px; color: #72a8ff"> VLU Attendance Tracking </h1>
          </div>
          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
           <% } %>
          <form action="/login" method="POST">
            <h1>Login to System</h1>
            <div>
              <input type="text" class="form-control" name="username" placeholder="Username" required="" />
            </div>
            <div>
              <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            </div>
            <div>
              <button class="btn btn-default submit" type="submit">Log In</button>
              <!-- <a class="btn btn-default submit" href="index.html">Log in</a> -->
              <a class="" href="#signup">Forget your password?</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">

              <div class="clearfix"></div>
              <br />

              <div>
                <p>©2018 All Rights Reserved. By Dragon Knights Team. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>

      <div id="register" class="animate form registration_form">
        <section class="login_content">
          <div>
            <img src="images/logo.png" width="240px" style="margin-bottom: 18px" alt="School logo" class="">
            <h1 style="font-family: Corbel; font-weight: bold; font-size: 30px; color: #72a8ff"> VLU Attendence Tracking </h1>
          </div>
          <form>
            <h1>Forgot password</h1>
            <div>
              <input type="text" class="form-control" placeholder="Username" required="" name="username" />
            </div>
            <div>
              <input type="email" class="form-control" placeholder="Email" required="" name="email" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" required="" name="password" />
            </div>
            <div>
              <button class="btn btn-default submit" href="#">Submit</button>
              <a class="" href="#signin">Remember yet? Log in </a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">


              <div class="clearfix"></div>
              <br />

              <div>
                <p>©2018 All Rights Reserved. By Dragon Knights Team. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</body>
<%- include('layout/main/script.ejs')%>
  <script>
    $(document).ready(function () {
      console.log('ready');
      var check = $("#mycheck").html();
      var a = localStorage.getItem('loginError');
      console.log('abc' + a);
      console.log('check:' + check);
      if (check == 1) {
        $("#mycheck").html(0);
        $("#myerror").removeClass('qahide');
        localStorage.setItem('loginError', 0)
      }
    });
  </script>

</html>