<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.png" type="image/ico" />

  <title> Profile </title>
  <%- include('layout/main/style.ejs')%>

</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->

        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->

          <!-- page content -->
          <div class="right_col" role="main">
          <!--Breadcrumb-->
          <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="#">Profile</li>
          </ul>
          <!--/Breadcrumb-->
            <div class="x_panel">
              <div class="x_title">
                <!--Left profile-->
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                  <div class="profile_img">
                    <div id="crop-avatar">
                      <!-- Current avatar -->
                      <img class="img-responsive img-circle avatar-view" src="images/user.jpg" alt="Avatar" title="Change the avatar">
                    </div>
                  </div>
                  <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    <center>
                      <%= user.local.username%>
                    </center>
                  </h3>
                </div>

                <!--Right profile-->
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="profile_title">
                      <div class="col-md-6">
                        <p style="font-size: 20px;"> User Informations</p>
                      </div>
                    </div>
                  

                  <div class="x_panel">
                    <ul class="list-unstyled user_data" style="font-family: Corbel; font-size: 18px; margin-left: 30px">
                      <li style="margin-top: 18px">
                        <i class="fa fa-2x fa-briefcase user-profile-icon"></i>
                        <strong> Lecturer ID:</strong>
                        <%= user.lecturer_id%>
                      </li>
                      <li style="margin-top: 18px">
                        <i class="fa fa-2x fa-database user-profile-icon"></i>
                        <strong> Password:</strong>
                        <%= user.local.password%>
                      </li>
                      <li style="margin-top: 20px">
                        <i class="fa fa-2x fa-check-circle-o user-profile-icon"></i>
                        <strong> Secret:</strong>
                        <%= user.secrect%>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <!-- /page content -->
          </div>

          <!-- footer content -->
          <%- include('layout/main/footer.ejs')%>
            <!-- /footer content -->
    </div>
  </div>

  <%- include('layout/main/script.ejs')%>

</body>

</html>