﻿<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/favicon.png" type="image/ico" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <title> StudentList - <%= course_id%> </title>
  <%- include('layout/main/style.ejs')%>
  <link href="/build/personal/studentlist/style.css" rel="stylesheet" />
  <link href="/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
  <!--Jquery UI-->
  <link rel="stylesheet" href="/vendors/jquery-ui-custom/jquery-ui.min.css">
  <!--AutoComplete-->
  <link rel="stylesheet" href="/build/css/autocomplete.css">
  
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->
        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->
          <!-- page content -->
          <div class="right_col qa-clearfix" role="main">
          <!--Breadcrumb-->
          <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a>Students list - <%= course_id%></a></li>
          </ul>
          <!--/Breadcrumb-->
            <%
              var slist = studentList;
              var selist = sessionList;
              var atlist = attendancelist;
            %>
              <!--table-->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Students list - <span id="course-id"><%= course_id%></span></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card-box table-responsive">
                          <p class="text-muted font-13 m-b-30"></p>
                          <table style="width:auto;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" id="studentlist-table" class="table table-striped table-bordered nowrap" cellspacing="0">
                            <%- include('layout/studentlist/TopButton.ejs')%>
                            <thead>
                              <tr>
                                <!-- <th>Action</th> -->
                                <th style="width:20px;">No.</th>
                                <th style="width:40px;">ID</th>
                                <th style="max-width:151px;width:151px;">FullName</th>
                                <th style="max-width:53px;">Birthday</th>
                                <%if(selist!=undefined){%>
                                <th style="width:100px;">Attendence</th>
                                <%}%>
                                <%
                            if(selist!=undefined){
                              for(let i = 0;i<selist.length;i++){  
                                let date = new Date(selist[i].session_date);
                                // date.setTime( date.getTime() + date.getTimezoneOffset()*60*1000 );
                                let day = date.getDate();
                                let month = date.getMonth()+1;
                                let year = date.getFullYear();
                                let hour = date.getHours();
                                let minutes = date.getMinutes();
                                let amPM = (hour > 11) ? "PM" : "AM";
                                if(hour > 12) {
                                  hour -= 12;
                                } else if(hour == 0) {
                                  hour = "12";
                                }
                                if(minutes < 10) {
                                    minutes = "0" + minutes;
                                }
                                let time = hour+':'+minutes+' '+amPM;
                                %>
                                <th style="min-width:100px;"><%= selist[i].session_no%><div style="font-size:10px"><%= day%>/<%= month%>/<%= year%> <%= time%></div></th>
                                <%}
                            }
                           %>
                              </tr>
                            </thead>

                            <tbody>
                              <%for(let i = 0;i<slist.length;i++){
                                  let date = new Date(slist[i].birthday);
                                  let day = date.getDate();
                                  let month =date.getMonth()+1;
                                  let year = date.getFullYear();
                              %>
                                <tr>
                                  <td><center><%= i+1%></center></td>
                                  <td><%= slist[i].student_id%></td>
                                  <td><%= slist[i].fullname%></td>
                                  <td><%= day%>/<%= month%>/<%= year%></td>
                                  <%if(selist!=null){
                                      let attendInfor = atlist[i].attendance;
                                      let countAtttend = 0;
                                      let attended = 0;
                                    for(let j=0; j < attendInfor.length;j++){
                                        if(attendInfor[j].status==1){
                                          countAtttend++;
                                        }
                                        if(attendInfor[j].status==1||attendInfor[j].status==2){
                                          attended++;
                                        }
                                    }
                                    if(attended==0){
                                      attended=1;
                                    }
                                    let percentAttend = Math.round((countAtttend/attended)*100)
                                    let status ='success';
                                    if(percentAttend<70&&percentAttend>=40){
                                      status ='warning';
                                    }else if(percentAttend<40){
                                      status='danger';
                                    }%>
                                  <td class=<%= status%>><center><%= percentAttend%>%</center></td>
                                  <%for(let k=0; k < selist.length;k++){%>
                                    <%if(attendInfor[k].status==1){%>
                                      <td class="attend"><center><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></center></td>
                                    <%}else if(attendInfor[k].status==2){%>
                                      <td class="absent"><center><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></center></td>
                                    <%}else if(attendInfor[k].status==0){%>
                                      <td class=""></td>
                                    <%}%>
                                  <%}%>
                                </tr>
                                <%}%>
                                <%}%>
                            </tbody>
                          </table>
                          <%- include('layout/studentlist/BottomButton.ejs')%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end of table -->
                </div>
                <div class="qa-clearfix"></div>
                <%- include('layout/studentlist/AlertBox.ejs')%>
              </div>
          </div>
          <div class="qa-clearfix"></div>
          <!--end of table-->
          <!--Modal HQ-->
          <div id="qa-modal-hq">
            <!-- Modal add student-->                                    
            <%- include('layout/studentlist/AddStudentModal.ejs')%>    
            <!-- /Modal add student -->
            <!-- Modal remove student-->
            <%- include('layout/studentlist/RemoveStudentModal.ejs')%>    
            <!-- /Modal remove student -->
            <!-- Modal add session -->
            <%- include('layout/studentlist/AddSessionModal.ejs')%>
            <!-- /Modal add session -->
            <!-- Modal attendance -->
            <%- include('layout/studentlist/AttendanceModal.ejs')%>
            <!-- /Modal attendance -->
          </div>
          <!--/Modal HQ-->
          <!--ReModal-->
          <!--<div class="remodal-bg">
            <div class="remodal" data-remodal-id="modal">
              <button data-remodal-action="close" class="remodal-close"></button>
              <h1>Remodal</h1>
              <p>ABCSDE</p>
              <br>
              <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
              <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
            </div>
          </div>-->
          <!--/ReModal-->
          <!-- /page content -->
          <!-- footer content -->
          <%- include('layout/main/footer.ejs')%>
            <!-- /footer content -->
    </div>
  </div>
  <!--end of page content-->
</body>
<%- include('layout/main/script.ejs')%>

<!--date picker-->
<script src="/vendors/bootstrap/js/transition.js"></script>
<script src="/vendors/bootstrap/js/collapse.js"></script>
<script src="/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/vendors/jquery-ui-custom/jquery-ui.min.js"></script>
<script src="/build/js/datetimepicker.js"></script>
<script>
  $(document).ready(function() {
      $('#studentlist-table').DataTable({
					keys: true,
          // fixedHeader: true,
          // // fixedHeader:{
          // //   headerOffset: 50
          // // }
          // scrollX: false,
          // scrollCollapse: true,
          // autoWidth: true, 
          // paging: true,
          fixedHeader: true,
          dom: 'Bfrtip',
          lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
          ],
          buttons: [
              {extend:'colvis',text:'Show/Hide Columns'},'pageLength'
          ],
                
          
        });
      $('#studentlist-table_filter').css(
         {'width':'21%'}
      );
      $('.dropdown-menu').click(function(event){
        event.stopPropagation();
      })
      $(document).tooltip();
      $("#student-id").tooltip({
        position: { my: "left", at: "left bottom+30" },
      });
      $("#remove-studentid").tooltip({
        position: { my: "left+5 center", at: "right center" },
      });     
      //dropdown
      $('#qa-export').on('click',function(){
        $('[data-toggle="dropdown"]').parent().removeClass('open');
      });
      $('#qa-import').on('click',function(){
        $('#files').trigger('click');
        $('[data-toggle="dropdown"]').parent().removeClass('open');
      });
    });
  </script>
  <script src="/build/js/addsession.js"></script>
  <script src="/build/js/addstudent.js"></script>
  <script src="/build/js/removeStudent.js"></script>
  <script src="/build/js/selectedAttendance.js"></script>
  <script src="/build/js/syncStudent.js "></script>
  <!--Import-->
  <script src="/vendors/js-xlsx/dist/xlsx.core.min.js"></script>
  <script src="/build/js/importXSLX.js"></script>
  <script>
    function removeSessionAjax(session,date){
        $.ajax({ 
        type:'POST',
        data:{session,date},
        url:'/action/remove-session',
        dataType:'json'
      }).done(function(response){
          $.alert(JSON.stringify(response));
      });
    }
    $(document).ready(function(){
        let mysessionlist;
        let modalID;
        $('#edit-delete-session-modal').on('click',function(){
            modalID = 'edit-delete-session';
            mysessionlist = JSON.parse(htmlDecode("<%= JSON.stringify(sessionList)%>"));
            if($('#'+modalID).length ==0){
              createEditRemoveModal(modalID,mysessionlist);              
            }
            $('#'+modalID).modal('toggle');
            
        });
        $('#qa-modal-hq').on('click','#edit-delete-session #session-remove',function(){
              let value = $('#qa-edit-select').val();
              $('#'+modalID+' #error-message').remove();
              if(value==null){
                $( '<span style="color:red;font-weight:bold" id="error-message">This field is required.</span>').insertBefore("#qa-edit-select");
              }else{
                $('#'+modalID).modal('hide');
                  let found = mysessionlist.find(function(element) {
                      return element.session_id == value;
                  });
                  let a = formatDateFromServer(found.session_date);
                  let seDate=a[0]+'/'+a[1]+'/'+a[2]+' '+a[3]+':'+a[4]+' '+a[5];
                  $.confirm({
                      icon: 'fa fa-exclamation-triangle',
                      title: 'Delete Session?',
                      content: 'Are you sure you want to delete '+found.session_no+'<br>'+seDate+' From '+found.course_id+'?',
                      theme: 'modern',
                      type: 'red',
                      typeAnimated: true,
                      closeIcon: true,
                      closeIconClass: 'fa fa-close',
                      autoClose: 'cancel|8000',
                      columnClass: 'col-md-4 col-md-offset-4',
                      buttons: {
                          deleteSession: {
                              text: 'Delete Session',
                              btnClass: 'btn-danger',
                              action: function () {
                                  removeSessionAjax(found,seDate);
                              }
                          },
                          cancel: {
                            tex:'Cancel',
                              action: function () {
                                  $.alert('This action is canceled');
                              } 
                          }
                      }
                  });
              }
        });      
    });
  </script>
  <!--Synce Attendance-->
  <script>
    $(document).ready(function(){
        $('#sync-attendance-btn').on('click',function(){
            let courseID = $('#course-id').text();
            console.log(courseID);
            $.ajax({ 
              type:'POST',
              data:{courseID},
              url:'/action/sync-attendance',
              dataType:'json'
            }).done(function(response){
              console.log(response);
              $.alert(JSON.stringify(response));
            });
        });
    });
  </script>
</html>