<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.png" type="image/ico" />

  <title> TestView </title>
  <%- include('layout/main/style.ejs')%>
  <!--Jquery UI-->
  <link rel="stylesheet" href="/vendors/jquery-ui-custom/jquery-ui.min.css">
  <!--AutoComplete-->
  <link rel="stylesheet" href="/build/css/autocomplete.css">
  <link rel="stylesheet" href="/build/css/breadcrumb.css">  
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->

        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->

          <!-- page content -->
          <div class="right_col" role="main">
            <!--Breadcrumb-->
            <ul class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Parent</a></li>
              <li><a href="#">Child</a></li>
            </ul>
            <!--/Breadcrumb-->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h1>Test View</h1>
                  <div class="form-group ui-widget">
                    <label for="delete-studentid">StudentID</label>
                    <input class= "form-control" id="delete-studentid">  
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="qa-clearfix"></div>
            <!-- /page content -->
          </div>

          <!-- footer content -->
          <%- include('layout/main/footer.ejs')%>
            <!-- /footer content -->
    </div>
  </div>

  
</body>
  <%- include('layout/main/script.ejs')%>
  <script src="/vendors/jquery-ui-custom/jquery-ui.min.js"></script>
  <script>
  $('#delete-studentid').autocomplete({
    autoFocus: true,
    source: function( request,response) {
      let course_id = $('#course-id').text();
      let term = {
        data:request.term,
        course_id :course_id
      };
      $.ajax( {
        url: "/action/search-by-course/",
        type:'POST',
        dataType: "json",
        data: {term},
        success: function( data ) {
          console.log(data);
          response(data)
        }
      });
    },
    minLength: 1,
    // select: function( event, ui ) {
    //   log( "Selected: " + ui.item.value + " aka " + ui.item.id );
    // }
  });
  </script>
</html>