<div class="alert alert-qa-infor" id="qa-infor-alert" role="alert" style="position: fixed; left: 10px;bottom:15px; z-index: 1;min-width:430px;min-height:50px;max-height:50px">
    <div class="qa-message"></div>
</div>
