          <div id="addstudent" class="modal fade" role="dialog" aria-labelledby="..." tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Add Student</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="student-id" style="display:block">StudentID</label>
                        <input type="text" class="form-control" id="student-id" aria-describedby="addstudent" placeholder="ex:T152007" title="We ask for student_id only for identification purposes.">
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" id="addstudent-submit">Save</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
          </div>