
              <div class="alert alert-success" id="qa-success-alert" role="alert" style="position: fixed; left: 10px;bottom:15px; z-index: 1;min-width:300px;min-height:50px;max-height:50px">
                <div class="qa-message"></div>
              </div>
              
              <div class="alert alert-danger" id="qa-error-alert" role="alert" style="position: fixed; left: 10px;bottom:15px; z-index: 1;min-width:250px;min-height:50px;max-height:50px">
                  <div class="qa-message"></div>
              </div>
              <div class="alert alert-qa-infor" id="qa-infor-alert" role="alert" style="position: fixed; left: 10px;bottom:15px; z-index: 1;min-width:350px;min-height:50px;max-height:50px">
                  <div class="qa-message"></div>
              </div>
