          <div id="attendance" class="modal fade" role="dialog" aria-labelledby="..." tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Choose Attendance</h4>
                    </div>
                    <div class="modal-body">
                      <form action="/attendance" method="POST" id="attend-form">
                        <div class="form-group" id="qa-attend">
                          <input type="text" value="<%= course_id%>" readonly style="display: none" name="course_id"/>
                          <%   var selist = sessionList;%>
                          <select class="form-control" id="qa-attend-select" name="session_id">
                              <option selected disabled value=-1>Choose...</option>
                              <option value="addnew">&#xf067; Add session</option>
                              <%if(selist!=undefined){%>
                                                   
                                <% for(let i=0 ;i<selist.length;i++){
                                    let date = new Date(selist[i].session_date);
                                    let day = date.getDate();
                                    let month = date.getMonth()+1;
                                    let year = date.getFullYear();
                                    
                                %>
                                    <option value=<%= selist[i].session_id%>><%= selist[i].session_no%> | <%= day%>/<%= month%>/<%= year%></option>                                              
                                <%}%>
                            <%}%>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" id="attend-submit">Attend</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
          </div>
  