<div class="floatleft">
    <button class="btn btn-default btn-sm" data-toggle="modal" id="add-student-modal"><i class="fas fa-user-plus"></i> Add Student</button>
    <button class="btn btn-default btn-sm" data-toggle="modal" id="remove-student-modal"><i class="fas fa-user-minus"></i> Remove Student</button>
    <button class="btn btn-default btn-sm" data-toggle="modal" id="sync-student-btn"><i class="fas fa-sync-alt"></i> Synchronize Student</button>
    <button class="btn btn-default btn-sm" data-toggle="modal" id="sync-attendance-btn"><i class="fas fa-sync-alt"></i> Synchronize Attendance <i class="fas fa-arrow-up"></i></button>
    <button class="btn btn-default btn-sm" data-toggle="modal" id="synchronize-attendance-btn"><i class="fas fa-sync-alt"></i> Synchronize Attendance <i class="fas fa-arrow-down"></i></button>
</div>