  <div id="removestudent" class="modal fade" role="dialog" aria-labelledby="..." tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Remove Student</h4>
        </div>
        <div class="modal-body">
          <div class="form-group ui-widget">
            <label for="remove-studentid" style="display:block">StudentID</label>
            <input class= "form-control" id="remove-studentid" type="text" placeholder="ex:T152007" title="If you dont remember StudentID,you can search it by using student's fullname">  
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="remove-submit">Remove</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>