<div style="text-align: center">
    <a class="btn btn-default btn-sm" data-target="#addsession" id="session-modal"><i class="far fa-calendar-plus"></i> Add Session</a>
    <!--<a class="btn btn-default btn-sm" data-remodal-target="modal"><i class="far fa-calendar-plus"></i> Add Session</a>-->

    <a class="btn btn-default btn-sm" data-target="#edit-delele-session" id="edit-delete-session-modal"><i class="far fa-calendar-alt"></i> Edit Session</a>
    <a class="btn btn-default btn-sm" data-target="#attendance" id="addtendance-modal"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Attendance Online</a>
    <!--dropdown-->
    <div class="dropdown" style="display: inline">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="attend-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 
        <i class="fa fa-file-excel-o" aria-hidden="true"></i> Attendance Excel <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="attend-dropdown">
        <li id="qa-import"><a><i class="fa fa-download" aria-hidden="true"></i> Import .XLSX file</a></li>
        <input type="file" id="files" name="files" style="display:none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
        <li id="qa-export"><a target="_blank" href="/action/export-excel/<%= course_id%>"><i class="fa fa-upload" aria-hidden="true"></i> Export to .XLSX file</a></li>
        </ul>
    </div>
    <!--/dropdown-->
</div>