<!-- Bootstrap -->
<link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

<!-- bootstrap-progressbar -->
<link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
<!-- bootstrap-daterangepicker -->
<link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

  <!-- jQuery custom content scroller -->
<link href="/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>

<!--dropzone-->
<link href="/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="/build/css/custom.min.css" rel="stylesheet">

<!-- Datatables -->
<link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


<!--jquery-comfirm-->
<link href="/vendors/jquery-confirm/dist/jquery-confirm.min.css" rel="stylesheet">
<!--breadcrumb-->
<link rel="stylesheet" href="/build/css/breadcrumb.css">
<!--ReModal-->
<link rel="stylesheet" href="/vendors/Remodal/dist/remodal.css">
<link rel="stylesheet" href="/vendors/Remodal/dist/remodal-default-theme.css">
<!--Jquery UI-->
<link rel="stylesheet" href="/vendors/jquery-ui-custom/jquery-ui.min.css">
<!--Loading-->
<link href="/build/personal/main/loading.css" rel="stylesheet" />
<!--logo-->
<link href="/build/personal/main/mycustom.css" rel="stylesheet">
<!--PNotify-->
<link href="/vendors/pnotify/dist/PNotifyBrightTheme.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />