<div class="top_nav">
    <div class="nav_menu">
      <nav>
        <div class="nav toggle">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="" id="user-tab">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <img src="/images/user.jpg" alt=""><%= user.local.username%>
              <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li><a href="<%= path%>/profile.vlu"> Profile</a></li>
              
              <li><a href="<%= path%>/logout.vlu"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
            </ul>
          </li>

          
        </ul>
      </nav>
    </div>
  </div>