<div id="bottom-button">
    <a class="btn btn-round btn-default" id="add-student-modal" data-toggle="tooltip" data-placement="top" title="Add New Student"><i class="fas fa-user-plus"></i></a>
    <a class="btn btn-round btn-default" id="remove-student-modal" data-toggle="tooltip" data-placement="top" title="Remove Student"><i class="fas fa-user-minus"></i></a>
    <span class="btn-floating-2">
        <a class="btn btn-round btn-default btn-floating-main" data-toggle="tooltip" data-placement="top" title="Sync"><i class="fas fa-sync-alt"></i></a>
        <!--Sub Button-->
        <a class="btn btn-round btn-default btn-floating-sub1" id="sync-student-btn" data-toggle="tooltip" data-placement="top" title="Sync Student To Server"><i class="fas fa-sync-alt"></i></a>
        <a class="btn btn-round btn-default btn-floating-sub2" id="sync-attendance-btn" data-toggle="tooltip" data-placement="top" title="Sync Attendance To Server"><i class="fas fa-sync-alt"></i></a>
        <a class="btn btn-round btn-default btn-floating-sub3" id="synchronize-attendance-btn" data-toggle="tooltip" data-placement="top" title="Sync Attendance From Server"><i class="fas fa-sync-alt"></i></a>
    </span>
</div>