<div style="text-align: center">
    <a class="btn btn-round btn-default" id="session-modal" data-toggle="tooltip" data-placement="top" title="Add New Session"><i class="far fa-calendar-plus"></i></a>
    <a class="btn btn-round btn-default" id="edit-delete-session-modal" data-toggle="tooltip" data-placement="top" title="Edit Session"><i class="far fa-calendar-alt"></i></a>
    <a class="btn btn-round btn-default" id="addtendance-modal" data-toggle="tooltip" data-placement="top" title="Attendance Online" style="display:none"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
    <!-- FloatingButton -->
    <span class="btn-floating-1">
        <a class="btn btn-round btn-default" data-toggle="tooltip" data-placement="top" title="Attendance Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
        <!-- SubButton -->
        <span class="btn-floating-sub1">
            <a class="btn btn-round btn-default btn-floating-sub1" id="qa-import" data-toggle="tooltip" data-placement="top" title="Import XLSX"><i class="fa fa-download" aria-hidden="true"></i></a>
        </span>
        <span class="btn-floating-sub2">
            <a class="btn btn-round btn-default btn-floating-sub2" id="qa-export" target="_blank" href="<%= path%>/action/export-excel/<%= course_id%>" data-toggle="tooltip" data-placement="top" title="Export XLSX"><i class="fa fa-upload" aria-hidden="true"></i></a>
        </span>
    </span>
    
    <input type="file" id="files" name="files" style="display:none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
</div>