<!-- .cd-main-content -->  
<main class="cd-main-content" style="display:none">
<div class="center">
  <h1>Fire Extinguisher</h1>
  <a href="#modal-1" class="cd-btn cd-modal-trigger">Start Effect</a>
</div>
</main> <!-- .cd-main-content -->
<!--modal-content-->
<div class="cd-modal" id="modal-1">
<div class="modal-content">
  <h2>Student's Statistics</h2>
  <div class="row">
    <div class="col-sm-4"><img src="/images/avatar/avatar01.png" style="width: 250px;margin-left:25%"/></div>
    <div class="col-sm-7" id="student-infor">
       <ul>
         <li></li>
         <li></li>
         <li></li>
       </ul>
    </div>
    <div class="col-sm-12" style="margin-top:10%">
      <ul class="nav nav-tabs"></ul>
    </div>
    <div class="tab-content"></div>
  </div>
</div> <!-- .modal-content -->

<a href="#0" class="modal-close">Close</a>
</div> <!-- .cd-modal -->
<div class="cd-transition-layer" data-frame="25"> 
<div class="bg-layer"></div>
</div> <!-- .cd-transition-layer -->