﻿<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="<%= path%>/images/newfavicon.png" type="/image/ico" />

  <title> Attendance Checking</title>
  <%- include('layout/main/style.ejs')%>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link href="<%= path%>/vendors/pnotify/dist/PNotifyBrightTheme.css" rel="stylesheet" type="text/css" />
  <!--Tooltips-->
  <link rel="stylesheet" type="text/css" href="<%= path%>/vendors/tooltipster/dist/css/tooltipster.bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="<%= path%>/vendors/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" />
  <style>
    .qa-attend-status{
      margin-left:20%;
    }.attend{
      color:green;
      font-weight: bold;
    }.attend:before{
      content: "Attend";
    }.notattend{
      color:black;
      font-weight: bold;
    }.notattend:before{
      content: "Not Attend";
    }.absent{
      color:red;
      font-weight: bold;
    }.absent:before{
      content: "Absent";
    }.qa-hide{
      display: none;
    }.qa-note{
      text-align: center;
      font-size:18px;
    }
  </style>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->
        
        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->

          <!-- page content -->
          <%- include('layout/main/loading.ejs')%>
          <div class="right_col" role="main">
          <% var attendlist = attendlist%>
          <% let sessiondate =  new Date(attendlist[0].oneattendance.session.session_date);
             let date = sessiondate.getDate();
             let month = sessiondate.getMonth()+1;
             let year = sessiondate.getFullYear();
             let hour = sessiondate.getHours();
             let minutes = sessiondate.getMinutes();
             let amPM = (hour > 11) ? "PM" : "AM";
             if(hour > 12) {
                hour -= 12;
              } else if(hour == 0) {
                hour = "12";
              }
              if(minutes < 10) {
                  minutes = "0" + minutes;
              }
              let time = hour+':'+minutes+' '+amPM;
          %>
          <!--Breadcrumb-->
          <ul class="breadcrumb">
            <li><a href="<%= path%>/">Home</a></li>
            <li><a href="<%= path%>/studentlist/<%= course_id+'-'+slug+'.vlu'%>">Students list - <%= course_id%></a></li>
            <li><a>Attendence Checking for <%= attendlist[0].oneattendance.session.session_no%> <%= date%>/<%= month%>/<%= year%></a></li>
          </ul>
          <!--/Breadcrumb-->
            <!--table-->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  
                  <h2>Attendence Checking for <%= attendlist[0].oneattendance.session.session_no%> <%= date%>/<%= month%>/<%= year%></h2>
                  <span class="qa-hide" id="qa-session-id"><%= attendlist[0].oneattendance.session.session_id%></span>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p class="text-muted font-13 m-b-30"></p>
                  <table id="studentlist-table" class="table table-striped table-bordered" style="position:relative">
                  <% 
                    // let sessionlist = sessionlist
                    // console.log('se:'+sessionlist)
                  %>
                  <select id="qa-change-session" style="position:absolute;top:10px;right:30%;z-index:10;padding:5px 10px">
                    <% for(let i=0;i<sessionlist.length;i++){%>
                    <%    let sdate = new Date(sessionlist[i].session_date);
                          let sday = sdate.getDate();
                          let smonth = sdate.getMonth()+1;
                          let syear = sdate.getFullYear();
                          let sessionID = attendlist[0].oneattendance.session.session_id;
                    %>
                          <%if(sessionlist[i].session_id ==sessionID){%>
                            <option value=<%= sessionlist[i].session_id%> selected><%= sessionlist[i].session_no%> | <%= sday%>/<%= smonth%>/<%= syear%></option>
                          <%}else{%>
                            <option value=<%= sessionlist[i].session_id%>><%= sessionlist[i].session_no%> | <%= sday%>/<%= smonth%>/<%= syear%></option>
                          <%}%> 
                    <%}%>
                  </select>
                    <thead>
                      <tr>
                        <th class="qa-hide"></th>
                        <th>No.</th>
                        <th>ID</th>
                        <th class="qa-hide">Attendance_ID</th>
                        <th>Fullname</th>
                        <th>Day of Birth</th>
                        <th>Status</th>
                        <th><%= date%>/<%= month%>/<%= year%> <%= time%></th>
                        <th>Note</th>
                      </tr>
                    </thead>
                    <tbody>
                    <%for(let i=0; i < attendlist.length;i++){
                        let day = new Date(attendlist[i].birthday);
                        let date = day.getDate();
                        let month =day.getMonth()+1;
                        let year = day.getFullYear(); 
                        let status = attendlist[i].oneattendance.status;
                        let note =  attendlist[i].oneattendance.note;
                      %>
                      <tr class="qa-body">
                        <td class="qa-hide"></td>
                        <td><%= i+1 %></td>
                        <td><%= attendlist[i].student_id%></td>
                        <td class="qa-hide qa-attend-id"><%= attendlist[i].oneattendance.attendance_id%></td>
                        <td class="qa-fullname"><%= attendlist[i].fullname%></td>
                        <td><%= date%>/<%= month%>/<%= year%></td>
                        <td class="qa-status" id="qa-status-<%= attendlist[i].student_id%>">
                          <%if(status==0){%>
                                <span class="notattend"></span>  
                          <%}else if(status==1){%>
                                <span class="attend"></span> 
                          <%}else if(status==2){%>
                                <span class="absent"></span>  
                          <%}%>
                        </td>
                        <td>
                          <div class="btn-group qa-attend-status" role="group" id=<%= attendlist[i].student_id%> aria-label="...">
                          <%if(status==0){%>
                            <button type="button" class="btn btn-dark qa-hide" disabled>Not Attend</button>
                            <button type="button" class="btn btn-success">Attend</button>
                            <button type="button" class="btn btn-danger">Absent</button>
                          <%}else if(status==1){%>
                            <button type="button" class="btn btn-dark qa-hide">Not Attend</button>
                            <button type="button" class="btn btn-success" disabled>Attend</button>
                            <button type="button" class="btn btn-danger">Absent</button>
                          <%}else if(status==2){%>
                            <button type="button" class="btn btn-dark qa-hide">Not Attend</button>
                            <button type="button" class="btn btn-success">Attend</button>
                            <button type="button" class="btn btn-danger" disabled>Absent</button>
                          <%}%>
                          </div>
                        </td>
                        <%if(note==""){%> 
                            <td></td> 
                        <%}else{%>
                            <td><span class="tooltip" title="<%= note%>" style="opacity:1;position: static;text-align: center;margin-top:8px"><i class="fas fa-sticky-note qa-note" ></i></span></td>
                        <%}%>
                      </tr> 
                    <%}%>
                    </tbody>
                  </table>
                </div>
                <button class="btn btn-default" id="qa-statistics"><i class="fas fa-chart-bar"></i> Statistics</button>
              </div>
            </div>
            <!--end of table -->
            <div style="clear:both"></div>
          </div>
          <!-- /page content -->
          <!--Modal Statistics-->
          <%- include('layout/attendance/statisticsModal.ejs')%>
          <!--/Modal Statistics-->
          <!-- footer content -->
          <%- include('layout/main/footer.ejs')%>
          <!-- /footer content -->
    </div>
  </div>

  <%- include('layout/main/script.ejs')%>
  <script>
      var course_id = JSON.parse(htmlDecode('<%= JSON.stringify(course_id)%>'));
      var mypath = JSON.parse(htmlDecode('<%= JSON.stringify(path)%>'));
  </script>
  <script type="text/javascript" src="<%= path%>/vendors/pnotify/dist/iife/PNotify.js"></script>
  <script type="text/javascript" src="<%= path%>/vendors/pnotify/dist/iife/PNotifyButtons.js"></script>
  <script type="text/javascript" src="<%= path%>/vendors/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
  <script type="text/javascript" src="<%= path%>/build/js/attendancechecking.js"></script>
  <script type="text/javascript" src="<%= path%>/build/js/changesession.js"></script>
  //google-chart
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="<%= path%>/build/js/attendanceStatistics.js"></script>
  <script>
    $(document).ready(function() {
      $('.tooltip').tooltipster({
        animation: 'grow',
        delay: 100,
        speed: 300,
        theme: 'tooltipster-shadow',
        maxWidth: 500,
      });
      $('#studentlist-table').DataTable({
					dom: 'Bfrtip',
          lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
          ],
          buttons: [
              'pageLength'
          ],   
      });
    });
  </script>
</body>

</html>