<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.png" type="image/ico" />
  <title> TestView </title>
  <%- include('layout/main/style.ejs')%>
  <!--Jquery UI-->
  <link rel="stylesheet" href="/build/personal/main/floating-button.css">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->

        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->

          <!-- page content -->
          <div class="right_col" role="main">
            <!--Breadcrumb-->
            <ul class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Parent</a></li>
              <li><a href="#">Child</a></li>
            </ul>
            <!--/Breadcrumb-->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title qa-clearfix">
                  <h1>Floating Button</h1>
                    <section class="model-0">
                        <div class="float-btn-group">
                        <button class="btn-float btn-triger pink"><i class="icon-bars"></i></button>
                        <div class="btn-list"><a class="btn-float yellow" href="#"><i class="fa fa-search"></i></a><a class="btn-float blue" href="#"><i class="fa fa-cloud-download"> </i></a><a class="btn-float green" href="#"><i class="fa fa-paperclip">   </i></a><a class="btn-float purple" href="#"><i class="fa fa-line-chart"> </i></a></div>
                        </div>
                    </section>
                    <section class="model-1">
                        <div class="float-btn-group">
                        <button class="btn-float btn-triger pink"><i class="icon-bars"></i></button>
                        <div class="btn-list"><a class="btn-float yellow" href="#"><i class="fa fa-search"></i></a><a class="btn-float blue" href="#"><i class="fa fa-cloud-download"> </i></a><a class="btn-float green" href="#"><i class="fa fa-paperclip">   </i></a><a class="btn-float purple" href="#"><i class="fa fa-line-chart"> </i></a></div>
                        </div>
                    </section>
                    <section class="model-2">
                        <div class="float-btn-group">
                        <button class="btn-float btn-triger pink"><i class="icon-bars"></i></button>
                        <div class="btn-list"><a class="btn-float yellow" href="#"><i class="fa fa-search"></i></a><a class="btn-float blue" href="#"><i class="fa fa-cloud-download"> </i></a><a class="btn-float green" href="#"><i class="fa fa-paperclip">   </i></a><a class="btn-float purple" href="#"><i class="fa fa-line-chart"> </i></a></div>
                        </div>
                    </section>
                    <section class="model-3">
                        <div class="float-btn-group">
                        <button class="btn-float btn-triger pink"><i class="icon-bars"></i></button>
                        <div class="btn-list"><a class="btn-float yellow" href="#"><i class="fa fa-search"></i></a><a class="btn-float blue" href="#"><i class="fa fa-cloud-download"> </i></a><a class="btn-float green" href="#"><i class="fa fa-paperclip">   </i></a><a class="btn-float purple" href="#"><i class="fa fa-line-chart"> </i></a></div>
                        </div>
                    </section>
                    <section class="model-4">
                        <div class="float-btn-group">
                        <button class="btn-float btn-triger pink"><i class="icon-bars"></i></button>
                        <div class="btn-list"><a class="btn-float yellow" href="#"><i class="fa fa-search"></i></a><a class="btn-float blue" href="#"><i class="fa fa-cloud-download"> </i></a><a class="btn-float green" href="#"><i class="fa fa-paperclip">   </i></a><a class="btn-float purple" href="#"><i class="fa fa-line-chart"> </i></a></div>
                        </div>
                    </section>
                    <section class="model-5">
                        <div class="float-btn-group">
                        <button class="btn-float btn-triger pink"><i class="icon-bars"></i></button>
                        <div class="btn-list"><a class="btn-float yellow" href="#"><i class="fa fa-search"></i></a><a class="btn-float blue" href="#"><i class="fa fa-cloud-download"> </i></a><a class="btn-float green" href="#"><i class="fa fa-paperclip">   </i></a><a class="btn-float purple" href="#"><i class="fa fa-line-chart"> </i></a></div>
                        </div>
                    </section>
                    <section class="model-6">
                        <div class="float-btn-group">
                        <button class="btn-float btn-triger pink"><i class="icon-bars"></i></button>
                        <div class="btn-list"><a class="btn-float yellow" href="#"><i class="fa fa-search"></i></a><a class="btn-float blue" href="#"><i class="fa fa-cloud-download"> </i></a><a class="btn-float green" href="#"><i class="fa fa-paperclip">   </i></a><a class="btn-float purple" href="#"><i class="fa fa-line-chart"> </i></a></div>
                        </div>
                    </section>
                </div>
              </div>
            </div>
            <div class="qa-clearfix"></div>
            <!-- /page content -->
          </div>

          <!-- footer content -->
          <%- include('layout/main/footer.ejs')%>
            <!-- /footer content -->
    </div>
  </div>
  <%- include('layout/main/script.ejs')%>
  <script src="/build/personal/main/floating-button.js"></script>
</body>  
</html>