<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/newfavicon.png" type="/image/ico" />
        <title> Login | VLU Attendence Tracking </title>
        <link href="/build/personal/login/style.css" rel="stylesheet">    
    </head>
    <body>
        <!-- JQUERY AND NORMALIZED CSS INSTALLED-->
        <!-- View settings for more info.-->
        <div id="pageContainer">
        <div id="formContainer">
        <div id="logo">
            <span>
                <img id="abc" src="/images/newlogo.png"/>
            </span>
        </div>
        <div id="forms">
            <form id="whyReg">
            <div class="fadeUp">
                <div class="formHead">
                <h1>WHY REGISTER?</h1>
                </div>
                <div class="formDiv">
                <ul>
                    <li>Access to member only pages.</li>
                    <li>Able to comment on any post to share your opinion.</li>
                    <li>Able to download source code files.</li>
                </ul>
                </div>
                <div class="formOther"><a class="regBtn" href="#">Close</a></div>
            </div>
            </form>
            <form id="forgot">
            <div class="fadeUp">
                <div class="formHead">
                <h1>FORGOT PASSWORD?</h1>
                <p>Looks like you forgot your password</p>
                </div>
                <div class="formDiv">
                <input type="email" placeholder="Type your email"/>
                </div>
                <div class="formDiv">
                <input type="submit" value="SEND EMAIL"/>
                </div>
                <div class="formOther"><a class="backLoginF" href="#">BACK TO LOGIN</a><a href="#">CONTACT STAFF</a></div>
            </div>
            </form>
            <form id="login" action="<%= path%>/login.vlu" method="POST">
            <div class="formHead">
               
                <% if (message.length > 0) { %>
                    <h1 class="login-failed">Login Failed</h1>
                    <p class="login-failed"><%= message %></p>
                <% }else{%>
                    <h1>WELCOME BACK</h1>
                    <p>Login to continue</p>
                <%}%>
            </div>
            <div class="formDiv">
                <input type="text" placeholder="Username" name="username" required/>
            </div>
            <div class="formDiv">
                <input type="password" placeholder="Password" name="password" required/>
            </div>
            <div class="formDiv">
                <input type="submit" value="LOGIN"/>
            </div>
            <div class="formOther"><a class="forgotBtn" href="#">FORGOT PASSWORD?</a><a class="needAccount" href="#">NEED AN ACCOUNT?</a></div>
            </form>
            <form id="register">
            <div class="formHead">
                <h1>BECOME A BRO</h1>
                <p>Register to gain full access</p>
            </div>
            <div class="formDiv">
                <input type="text" placeholder="Username" name="username"/>
            </div>
            <div class="formDiv">
                <input type="email" placeholder="Email" name="email"/>
            </div>
            <div class="formDiv">
                <input type="password" placeholder="Password" name="password"/>
            </div>
            <div class="formDiv">
                <input type="submit" value="REGISTER"/>
            </div>
            <div class="formOther"><a class="backLogin" href="#">BACK TO LOGIN</a><a class="regBtn" href="#">WHY REGISTER?</a></div>
            </form>
        </div>
        </div>
        </div>
    </body>
    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/build/personal/login/script.js"></script>
</html>