<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.png" type="image/ico" />

  <title> Student's Statistic | VLU Attendence Tracking</title>
  <%- include('layout/main/style.ejs')%>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->

        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->

          <!-- page content -->
          <%- include('layout/main/loading.ejs')%>
          <div class="right_col" role="main">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb" style="margin-bottom:0px;">
                <li class="breadcrumb-item">
                  <a href="<%= path%>/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Student's Statistic</li>
              </ol>
            </nav>
            <!--Left-->
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

              <div class="x_panel">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" id="inputSuccess2z" placeholder="Student's ID">
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>
                <br>
                <!--Button-->
                <div style="text-align: center">
                  <button id="getStat" type="button" class="btn btn-round btn-success">Get Statistic</button>
                </div>
                <!---->
                <!-- <button id="addData">Add Data</button> -->
              </div>
            </div>

            <!--Right profile-->
            <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="x_panel">
                <div class="">
                  <h2>Attendance Summary Chart</h2>
                </div>
                <div id="canvas-holder" style="width:100%">
                  <canvas id="chart-area"></canvas>
                </div>
              </div>
            </div>

            <!-- /page content -->
          </div>

          <!-- footer content -->
          <%- include('layout/main/footer.ejs')%>
            <!-- /footer content -->
    </div>
  </div>

  <%- include('layout/main/script.ejs')%>

    <script>
      //random color generator
      var randomColorFactor = function () {
        return Math.round(Math.random() * 255);
      };
      //random color for chart object
      var randomColor = function (opacity) {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.4') + ')';
      };

      let courseNameArr=[' '];
      let attendData=[100];
      let xz = randomColor();
      let objColor=[xz];

      var config = {
        data: {
          datasets: [{
            data: attendData,
            backgroundColor: objColor,
            label: 'My dataset' // for legend
          }],
          labels: courseNameArr
        },
        options: {
          responsive: true,
          legend: {
            position: 'right'
          },
          title: {
            display: true,
            text: '',
            position: 'top'
          },
          scale: {
            ticks: {
              beginAtZero: true
            },
            reverse: false
          },
          animation: {
            animateRotate: false
          }
        }
      };

      window.onload = function () {
        var ctx = document.getElementById("chart-area");
        window.myPolarArea = Chart.PolarArea(ctx, config);
      };

      // $('#randomizeData').click(function () {
      //   $.each(config.data.datasets, function (i, piece) {
      //     $.each(piece.data, function (j, value) {
      //       config.data.datasets[i].data[j] = randomScalingFactor();
      //       config.data.datasets[i].backgroundColor[j] = randomColor();
      //     });
      //   });
      //   window.myPolarArea.update();
      // });

      // $('#addData').click(function () {
      //   if (config.data.datasets.length > 0) {
      //     config.data.labels.push('dataset #' + config.data.labels.length);

      //     $.each(config.data.datasets, function (i, dataset) {
      //       dataset.backgroundColor.push(randomColor());
      //       dataset.data.push(75);
      //     });
      //     console.log('updated');
      //     window.myPolarArea.update();
      //   }
      // });

      $('#getStat').click(function(){
        let data = $('#inputSuccess2z').val();
        //console.log(data);
        if(data === ''){
          alert('Please input a valid student id');
        } else {
        $.ajax({ 
        type:'POST',
        data:{data},
        url:'/action/getStat',
        dataType:'json'
              }).done(function(response){
                console.log(response.CN);
                if(response.CN === 0){
                  alert('Student not found');
                } else {
                // while (courseNameArr.length !== 0){
                //   config.data.labels.pop();
                //   config.data.datasets[0].backgroundColor.pop();
                //   config.data.datasets[0].data.pop();
                // }
                // console.log(config.data.labels);
                // console.log(config.data.datasets[0].backgroundColor);
                // console.log(config.data.datasets[0].data);
                courseNameArr = response.CN;
                attendData = response.AP;
                attendData.forEach((z) => {
                  let newColor = randomColor();
                  objColor.push(newColor);
                });
                
                config.data.labels = courseNameArr;
                config.data.datasets[0].backgroundColor = objColor;
                config.data.datasets[0].data = attendData;
                //update
                window.myPolarArea.update();
                        }
                                          })
              }
        });

      // $('#removeData').click(function () {
      //   config.data.labels.pop(); // remove the label first

      //   $.each(config.data.datasets, function (i, dataset) {
      //     dataset.backgroundColor.pop();
      //     dataset.data.pop();
      //   });

      //   window.myPolarArea.update();
      // });
    </script>
</body>

</html>