﻿<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/newfavicon.png" type="/image/ico" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <title> StudentList [<%= course_id%>] | VLU Attendence Tracking </title>
  <%- include('layout/main/style.ejs')%>
  <link href="/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
  <link href="/build/personal/studentlist/style.css" rel="stylesheet" />
  <link href="/build/personal/studentlist/mydatatable.css" rel="stylesheet" />
  <link href="/build/personal/studentlist/btnfloating.css" rel="stylesheet" />
  <link href="/build/personal/studentlist/ajaxloading.css" rel="stylesheet" />
  <link href="/build/personal/studentlist/attendancechecking.css" rel="stylesheet" />
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->
        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->
          <!-- page content -->
          <%- include('layout/main/loading.ejs')%>
          <div class="right_col qa-clearfix" role="main">
          <!--Breadcrumb-->
          <ul class="breadcrumb">
            <li><a href="<%= path%>/">Home</a></li>
            <li><a>Students list - <%= course_id%></a></li>
          </ul>
          <!--/Breadcrumb-->
              <!--table-->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="ajax-loading">
                  <span><img src="/images/loading.gif" width=200></span>
                </div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Students list - <span id="course-id"><%= course_id%></span></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div>
                        <div class="card-box table-responsive">
                          <p class="text-muted font-13 m-b-30"></p>
                          <table style="width:auto;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" id="studentlist-table" class="table table-striped table-bordered nowrap hover" cellspacing="0">
                            <%- include('layout/studentlist/topbutton.ejs')%>
                            <thead>
                              <tr></tr>
                            </thead>

                            <tbody>
                              <tr></tr>
                            </tbody>
                          </table>
                          <div class="qa-clearfix"></div>
                          <%- include('layout/studentlist/BottomButton.ejs')%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end of table -->
                </div>
                <div class="qa-clearfix"></div>
                <%- include('layout/studentlist/AlertBox.ejs')%>
              </div>
          </div>
          <div class="qa-clearfix"></div>
          <!--end of table-->
          <!-- /page content -->
          <!-- footer content -->
          <%- include('layout/main/footer.ejs')%>
            <!-- /footer content -->
    </div>
  </div>
  <!--end of page content-->
</body>
<%- include('layout/main/script.ejs')%>
<script>
  var mysessionlist = JSON.parse(htmlDecode("<%= JSON.stringify(sessionlist)%>"));
  var mycourseid = JSON.parse(htmlDecode("<%= JSON.stringify(course_id)%>"));
  var mypath = JSON.parse(htmlDecode("<%= JSON.stringify(path)%>"));
</script>
<!--date picker-->
<script src="/vendors/bootstrap/js/transition.js"></script>
<script src="/vendors/bootstrap/js/collapse.js"></script>
<script src="/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/build/js/datetimepicker.js"></script>
<script src="/build/personal/studentlist/btnfloating.js"></script>
<script>
  $(document).ready(function() {
      $('.dropdown-menu').click(function(event){
        event.stopPropagation();
      })
      $('.tooltips').tooltip();
      // $(document).tooltip();
      // $("#addstudent>input").tooltip({
      //   position: { my: "left", at: "left bottom+30" },
      // });
      // $("#remove-student>input").tooltip({});     
      $('#addstudent>input').tooltip();
      //dropdown
      $('#qa-export').on('click',function(){
        $('[data-toggle="dropdown"]').parent().removeClass('open');
      });
      $('#qa-import').on('click',function(){
        $('#files').trigger('click');
        $('[data-toggle="dropdown"]').parent().removeClass('open');
      });
    });
  </script>
  <!-- Chart -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!--Import-->
  <script src="/vendors/js-xlsx/dist/xlsx.core.min.js"></script>
  <!-- StudentList Script-->
  <script src="/build/personal/studentlist/script.js" type="module"></script>
</html>