<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.png" type="image/ico" />
  <title> TestView </title>
  <%- include('layout/main/style.ejs')%>
  <!--Jquery UI-->
  <link rel="stylesheet" href="/vendors/jquery-ui-custom/jquery-ui.min.css">
  <!--AutoComplete-->
  <link rel="stylesheet" href="/build/css/autocomplete.css">
  <link href="/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
  <link rel="stylesheet" href="/build/css/breadcrumb.css">  
  <style>
    .x_title span{
        color:black;
    }td.details-control {
      background: url('./images/details_open.png') no-repeat center center;
      cursor: pointer;
    }
    tr.shown td.details-control {
        background: url('./images/details_close.png') no-repeat center center;
    }
  </style>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->

        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->

          <!-- page content -->
          <div class="right_col" role="main">
            <!--Breadcrumb-->
            <ul class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Parent</a></li>
              <li><a href="#">Child</a></li>
            </ul>
            <!--/Breadcrumb-->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title qa-clearfix">
                  <h1>TableDate</h1>
                  <table id="studentlist-table" class="table table-striped table-bordered nowrap" style="width:auto;min-width:550px;">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            <div class="qa-clearfix"></div>
            <!-- /page content -->
          </div>

          <!-- footer content -->
          <%- include('layout/main/footer.ejs')%>
            <!-- /footer content -->
    </div>
  </div>
  <%- include('layout/main/script.ejs')%>
  <script>
    var mypath = JSON.parse(htmlDecode("<%= JSON.stringify(path)%>"));
    var table,data,jqxhr;
    var tableName='#studentlist-table';
    let mysessionlist = JSON.parse(htmlDecode("<%= JSON.stringify(sessionlist)%>"))
    function datatableGetDate(){
        //get data = ajax
        jqxhr  = $.ajax(mypath+'/action/get-studeentlist-data').done(function () {
            data = JSON.parse(jqxhr.responseText);
            // đưa table về trạng thái ban đầu của nó
            $(tableName+'>thead>tr').empty();
            $(tableName+'>tbody>tr').empty();
            //add column
            $.each(data.columns, function (k, colObj) {
                str = '<th>' + colObj.title + '</th>';
                $(str).appendTo(tableName+'>thead>tr');
            });
            var option = {
              "select": true,
              "processing": true,
              "serverSide": false,
              "pagingType": "full_numbers",
              "ordering": true,
              "info": true,
              "searching": true,
              "bFilter": false,
              "bDestroy": true,
              "bLengthChange": true,
              "bPaginate": true,
              "deferRender": true,
              // ajax:mypath+'/action/get-studeentlist-data',
              // ajax:{
              //   url:mypath+'/action/get-studeentlist-data',
              //   type:'GET',
              // }, 
              // "fnServerData": function ( sSource, aoData, fnCallback ) {
              //   $.ajax( {
              //   "dataType": 'json', 
              //   "type": "POST", 
              //   "url": '/action/get-studeentlist-data', 
              //   "success": function(result){
              //     console.log(result);
              //   },
              //   "failure":function(result){
              //     console.log(result);
              //   }
              //   });
              // },
              // fixedHeader: true,
              // // fixedHeader:{
              // //   headerOffset: 50
              // // }
              // scrollX: false,
              // scrollCollapse: true,
              language:{
                'loadingRecords': 'StudentList is loading...',
                'processing': 'Please wait...',
              },
              responsive: true,
              // paging: true,
              // fixedHeader: true,
              dom: 'Bfrtip',
              lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 rows', '25 rows', '50 rows', 'Show all' ]
              ],
              buttons: [
                  {extend:'colvis',text:'Show/Hide Columns'},'pageLength'
              ],
              
              // "columns": [
              //   // {"className":'details-control',"orderable":false,"data": null,"defaultContent": ''},
              //     // { "data": "no" },
              //     // { "data": "id" },
              //     // { "data":{
              //     //   _:"name",
              //     //   sort:"sortname"
              //     // }},
              //     // { "data": "birthday" },
              //     // { "data": "birthday" },
                  
              //   // { "data": "attendance.0.status" },
              // ],
              "columns": data.columns,
              "data":data.data,  
              order:[]
            }
      // let col = [{"className":'details-control',"orderable":false,"data": null,"defaultContent": ''},{ "data": "no","visible":false},{ "data": "id","visible":false},{ "data":{_:"name",sort:"sortname"}},{ "data": "birthday","visible":false}];
      // console.log('myse:'+mysessionlist);
      // if(mysessionlist!=null){
      //   col.push({"data": "percent"});
      //   for(let i = 0;i<mysessionlist.length;i++){
      //     col.push({ "data": "attendance."+i+".icon"});
      //   }
      // }
      // option.columns=col
      // console.log(option.columns);
        console.log(option);
        table =  $('#studentlist-table').DataTable(option);
      // new $.fn.dataTable.FixedHeader(table);
    })
  }
    function reDraw(){
      table.destroy();
      datatableGetDate(); 

    }
    function getSessionList(){
        $.ajax({ 
          type:'POST',
          data:'abs',
          url:mypath+'/action/get-session-list',
          dataType:'json'
        }).done(function(response){
          mysessionlist = response.data
        })
    }
    $(window).load(function() {
      datatableGetDate();
    });
    function addSessionColumn(){
      if($('#qa-percent').length==0){
        $('table>thead>tr').append('<th style="width:100px;" id="qa-percent">Attendence</th>')
        $('table>tbody>tr').append('<td></td>')
      }
      $('table>thead>tr').append('<th style="min-width:100px;" class="no-sort">XYX<div style="font-size:10px">abc</th>')
      $('table>tbody>tr').append('<td></td>')
    } 
  </script>
  <script>
    
  </script>
</body>  
</html>