<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.png" type="image/ico" />

  <title> TestView </title>
  <%- include('layout/main/style.ejs')%>
  <!--Jquery UI-->
  <link rel="stylesheet" href="/vendors/jquery-ui-custom/jquery-ui.min.css">
  <!--AutoComplete-->
  <link rel="stylesheet" href="/build/css/autocomplete.css">
  <link href="/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
  <link rel="stylesheet" href="/build/css/breadcrumb.css">  
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- menu -->
      <%- include('layout/main/menu.ejs')%>
        <!-- menu -->

        <!-- top navigation -->
        <%- include('layout/main/top-nav.ejs')%>
          <!-- /top navigation -->

          <!-- page content -->
          <div class="right_col" role="main">
            <!--Breadcrumb-->
            <ul class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Parent</a></li>
              <li><a href="#">Child</a></li>
            </ul>
            <!--/Breadcrumb-->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h1>Test View</h1>
                  <div class="form-group test">
                    
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="qa-clearfix"></div>
            <!-- /page content -->
          </div>

          <!-- footer content -->
          <%- include('layout/main/footer.ejs')%>
            <!-- /footer content -->
    </div>
  </div>

  
</body>
  <%- include('layout/main/script.ejs')%>
  <script src="/vendors/jquery-ui-custom/jquery-ui.min.js"></script>
  <script>
  $('#delete-studentid').autocomplete({
    autoFocus: true,
    source: function( request,response) {
      let course_id = $('#course-id').text();
      let term = {
        data:request.term,
        course_id :course_id
      };
      $.ajax( {
        url: "/action/search-by-course/",
        type:'POST',
        dataType: "json",
        data: {term},
        success: function( data ) {
          console.log(data);
          response(data)
        }
      });
    },
    minLength: 1,
    // select: function( event, ui ) {
    //   log( "Selected: " + ui.item.value + " aka " + ui.item.id );
    // }
  });
  </script>
  <script src="/vendors/bootstrap/js/transition.js"></script>
  <script src="/vendors/bootstrap/js/collapse.js"></script>
  <script src="/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/vendors/jquery-ui-custom/jquery-ui.min.js"></script>
  <script src="/build/js/datetimepicker.js"></script>
  <script>
  $(function () {
    $('.test').append('<div class="input-group date" id="datetimepicker1"><input type="text" class="form-control" /><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>');
    $('#datetimepicker1 input').datetimepicker({
      keepOpen:true,
      format: 'D/M/YYYY h:mm A',
      ignoreReadonly: true,
      allowInputToggle: true,
      calendarWeeks:true,
      showClose:true,
      showTodayButton:true,
      widgetPositioning: {
            horizontal: 'right',
            vertical: 'top'
        }
    }).on('dp.change', function(e){
      if( !e.oldDate || !e.date.isSame(e.oldDate, 'day')){
        $(this).data('DateTimePicker').hide();
      }
    });
    $('#datetimepicker1 input').data('DateTimePicker').hide = function () {
      $('#datetimepicker1 input').datetimepicker('show')
    };
    $('#datetimepicker1 input').datetimepicker('show')
  });
  </script>
</html>