<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view" style="height:367.2px;">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title">
        <img src="/images/indexlogo.png" class="medium-logo" alt="School logo" id="school-logo">
      </a>

    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix" style="margin-top: 100px">
      <a href="/profile.vlu">
        <div class="profile_pic">
          <img src="/images/user.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
          <!--username-->
          <span>Welcome,</span>
          <h2 style="font-size:14px;font-family:Roboto;font-weight: 300;"><%= user.local.username%></h2>
        </div>
      </a>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <a href="/">
              <i class="fa fa-home"></i> Home
              <span class="fa fa-chevron-right"></span>
            </a>
          </li>
          <li>
            <a href="/student-statistic.vlu"><i class="fa fa-bar-chart-o"></i> Student's Statistic<span class="fa fa-chevron-right"></span></a>
          </li>

        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>